



<table class="table table-highlight " id='total_purchase' >
  
	<tbody>
	 <tr>
			<td style='text-align:right;'>
				<b>Total:</b> 
			</td>
			<td style='text-align:left;'>
				  <b><%= print_money( sales_order.total_amount_to_be_paid ) %></b>
			</td>
		</tr>
	</tbody>
</table>
 

